<launch>

	<!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 1 link1_parent link1 100" /> -->
												<!-- 	(OR)	 -->
	<node pkg="rosbasic" type="tf_frame_broadcaster.py" name="tf_frame_broadcaster_node" output="screen" required="true"/>

	<node pkg="rosbasic" type="tf_frame_listener.py" name="tf_frame_listener_node" output="screen" required="true"/>

</launch>